@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  transition: 0.15s;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-sans;
  @apply text-gray-500;
  @apply bg-gray-50;
}

h1 {
  @apply text-3xl;
  @apply my-6;
}

h2 {
  @apply text-2xl;
  @apply my-6;
}

h3 {
  @apply text-xl;
  @apply my-6;
}

h4 {
  @apply text-lg;
  @apply my-6;
}

h5 {
  @apply text-base;
  @apply my-6;
}

p {
  @apply my-4;
  @apply text-justify;
}

a {
  @apply text-blue-500;
  @apply hover:text-blue-600;
}